@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");

* {
	font-family: "Roboto", sans-serif;
}

body {
	height: 100% !important;
	width: 100% !important;
	padding: 0;
	margin: 0;
	background-image: url("../../Images/socBg.png");
	background-repeat: no-repeat;

	background-size: cover;
}

h2,
h3,
p {
	color: white;
}

Link {
	text-decoration: none;
}
