.socLogo {
	width: 100px;
	margin-top: 40px;
	position: relative;

}

.mentorprofile {
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	align-items: center;
	text-align: center;
}

p {
	color: white;
	max-width: 100%;
	text-align: center;
}
.profileInfo {
	max-width: 60%;
	min-width: 50%;
	padding: 20px;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 20px;
	display: flex;
	flex-flow: column wrap;
}

div {
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	text-align: center;
}
